/* seteos grales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variables de color*/
  --bg-header-footer: #30343f;

  --background-color-black: #1f1f1f;
  --background-color-black90: rgb(31, 31, 31, 90%);
  --background-color-black50: rgb(31, 31, 31, 50%);
  --background-color-black10: rgb(31, 31, 31, 10%);

  --background-color-ligth: #fafaff;
  --background-color-ligth90: rgb(250, 250, 255, 90%);
  --background-color-ligth50: rgb(250, 250, 255, 50%);
  --background-color-ligth10: rgb(250, 250, 255, 10%);

  /* espaciados */

  --spacing128: 128;
  --spacing68: 68;
  --spacing36: 36;
  --spacing28: 28;
  --spacing16: 16;
  --spacing12: 12;
  --spacing8: 8;

  /* fuentes */

  --font-Raleway-general: "Raleway", sans-serif;
  --font-Inter-details: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Header */
.container-header {
  width: 100%;
  display: flex;
  background-color: var(--bg-header-footer);
  height: 14.4rem;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-header {
  margin-left: 11rem;
}

.imagen-logo {
  width: 50%;
}

.nav {
  color: #ffffff;
  font-family: var(--font-Raleway-general);
  font-size: 2rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Main */
.banner {
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 38.8rem;
  overflow: hidden;
}

.banner-img {
  position: relative;
  width: 100%;
  bottom: 15rem;
}

.texto-banner {
  display: flex;
  position: absolute;
  z-index: 1;
  height: 38.8rem;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
}

.nuevos-ingresos-banner {
  color: #ffffff;
  padding: 11rem 0 0.7rem 10.8rem;
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.5rem;
}

.descripcion-nuevos-ingresos-banner {
  color: #ffffff;
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding-left: 10.8rem;
}

.boton-banner {
  width: 21.1rem;
  height: 4.7rem;
  color: #111111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  background: #ffffff;
  border-radius: 5rem;
  margin-top: 4.8rem;
  margin-left: 11rem;
  border: none;
}

.contenedor-gral-main {
  margin: 6.8rem 11rem 0;
}

.coleccion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 500;
  font-size: 4.6rem;
  line-height: 5.4rem;
  text-transform: uppercase;
  color: #111111;
}

.descripcion-producto {
  padding-top: 0.5rem;
  padding-bottom: 3.4rem;
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #333333;
  position: relative;
  display: inline-block;
}

.descripcion-producto::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 64.5rem;
  background-color: #ff3333;
  left: 0rem;
  bottom: 0rem;
}
.descripcion-producto-izq {
  margin-left: 11rem;
}
.descripcion-producto-der {
  margin-right: 11rem;
}

.boton-ver-coleccion {
  width: 29.2rem;
  height: 6.5rem;
  background: #30343f;
  border-radius: 50px;
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #ffffff;
  margin-top: 3.4rem;
  border: none;
}

/* Aside */

.ultimos-lanzamientos {
  margin: 0 11rem 6.8rem 11rem;
}

.titulo-lanzamientos {
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 5.4rem;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 5.7rem;
}

.contenedor-gral-aside {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imagen-lanzamientos {
  width: 35.2rem;
  height: 36rem;
}

.contenedor-imagen {
  position: relative;
}

.nuevo-item {
  width: 9.6rem;
  padding: 0.7rem 0;
  position: absolute;
  display: inline-block;
  right: 0rem;
  top: 0rem;
  background-color: #ff3333;
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #ffffff;
  text-align: center;
}

.categoria {
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #333333;
  margin-top: 2.8rem;
}

.nombre-producto {
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #111111;
  margin-top: 1.3rem;
}

.precio {
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #333333;
  margin-top: 1.3rem;
}

.cuotas {
  font-family: var(--font-Inter-details);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #1d84b5;
  margin-top: 1.4rem;
}

/* Footer */
.footer {
  background-color: var(--bg-header-footer);
  height: 34.3rem;
}

.container-footer {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: space-between;
  align-items: center;
}

.links-footer {
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
  padding-left: 11rem;
  color: #ffffff;
}

.links-footer p {
  padding-top: 1rem;
}

.logo-footer {
  display: contents;
  width: 50%;
  align-items: end;
}

.logo-sin-texto {
  margin-right: 11rem;
}

.derechos-footer {
  font-family: var(--font-Raleway-general);
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #ffffff;
  text-align: center;
}
